<!-- templates/main/index.html -->
{% extends 'base.html' %}

{% block title %} {{ block.super }} Home {% endblock title %}

{% load static %}

{% block content %}

	<!--============================= Hero =============================-->
    {% include 'components/02_hero.html' %}
	<!--============================= Hero end =============================-->

	<!--============================= Company ads 1 =============================-->
    {% include 'components/03_company_ads_1.html' %}
	<!--============================= Company ads 1 end =============================-->

	<!--============================= Job category =============================-->
    {% include 'components/04_job_category.html' %}
	<!--============================= Job category end =============================-->

	<!--============================= Job recent =============================-->
    {% include 'components/05_job_recent.html' %}
	<!--============================= Job recent end =============================-->

	<!--============================= Company 2 ads =============================-->
    {% include 'components/06_company_ads_2.html' %}
	<!--============================= Company 2 ads =============================-->

	<!--============================= Happy client =============================-->
    {% include 'components/07_happy_client.html' %}
	<!--============================= Happy client end =============================-->

	<!--============================= Blog recent =============================-->
    {% include 'components/08_blog_recent.html' %}
	<!--============================= Blog recent end =============================-->

	<!--============================= News letter =============================-->
    {% include 'components/09_news_letter.html' %}
	<!--============================= News letter end =============================-->

{% endblock content %}